<div>
  <div>
    <h1>
      List of all users
    </h1>
  </div>
</div>


<div>
  <div>
    <table border="">
      <tr>

        <th>
          Username
        </th>

        <th>
          Private?
        </th>

         <th>
        </th>

        <th>
        </th>

      </tr>

      <% @list_of_users.each do |a_user| %>
      <tr>


        <td>
          <%= a_user.username %>
        </td>

        <td>
          <%= a_user.private ? "Yes" : "No" %>
        </td>

        <td>
              <form action="/insert_follow_request" method="post">
              <input type="hidden" name="query_recipient_id" value="query_sender_id">
              <button>
                Follow
              </button>
            </form>

           Request sent. <a href="/delete_follow_request/<%= a_user.id %>"> Cancel</a>

            <a href="/delete_follow_request/<%= a_user.id %>"> Unfollow</a>
            
         </td>

        <td>
          <a href="/users/<%= a_user.id %>">
            Show details
          </a>
        </td>


      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
