<div>
  <div>
    <h1>
      <%= @the_user.username %> 
    </h1>

    <dl>
      
      <dt>
        Private
      </dt>
      <dd>
        <%= @the_user.private %>
      </dd>

      <dt>
       Followers
      </dt>
      <dd>
        <%= @the_user.followers.count %>

        <% if @current_user  %> 
    <% request = FollowRequest.find_by(sender_id: @current_user.id, recipient_id: @the_user.id)  %>
    <% if request.nil? %>
        <td>
              <form action="/insert_follow_request" method="post">
              <input type="hidden" name="query_recipient_id" value="<%= @the_user.id %>">
              <input type="hidden" name="query_sender_id" value="<%= @current_user.id %>">
              <input type="hidden" name="query_status_id" value="pending">
              <button>
                Follow
              </button>
            </form>

   <% elsif @the_user.private %>
           Request sent. <a href="/delete_follow_request/<%= @the_user.id %>"> Cancel</a>
  <% else %>
            <a href="/delete_follow_request/<%= @the_user.id %>"> Unfollow</a> 
         </td>
        <td>
          <a href="/users/<%= @the_user.id %>">
            Show details
          </a>
        </td>
<% end %>
<% end %>
      </tr>
      <% end %>

        <div>   <a href="/delete_follow_request/<%= @the_user.username %>">Follow</a>
        </div>
      </dd>

      <dt>
       Followers
      </dt>
      <dd>
        <%= @the_user.following.count %>
      </dd>
      <nav>
  <ul>
    <li>
      <a href="/users/<%= @the_user.id %>">Profile</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.id %>/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.id %>/feed">Feed</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.id %>/discover">Discover</a>
    </li>
  </ul>
</nav>
    </dl>
  </div>
</div>

<h2>Own photos (<%= @the_user.own_photos.count %>)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th></th>
  </tr>

  <% @the_user.own_photos.each do |photo| %>
  <tr>
    <td>
      <img src="<%= photo.image %>">
    </td>

    <td>
      <%= photo.owner.username %>
    </td>

    <td>
      <%= photo.caption %>
    </td>

    <td>
      <%= time_ago_in_words(photo.created_at) %> ago 
    </td>
    
    <td>
      <a href="/photos/<%= photo.id %>">
        Show details
      </a>
    </td>
  </tr>

  <% end %>
</table>













<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>


<div>
  <div>
    <h2>
      Edit user
    </h2>

    <form action="/modify_user/<%= @the_user.id %>"  method="post" >
      <div>
        <label for="username_box">
          Username
        </label>

        <input type="text" id="username_box" name="query_username" value="<%= @the_user.username %>">
      </div>

      <div>
        <label for="comments_count_box">
          Comments count
        </label>

        <input type="text" id="comments_count_box" name="query_comments_count" value="<%= @the_user.comments_count %>">
      </div>

      <div>
        <label for="likes_count_box">
          Likes count
        </label>

        <input type="text" id="likes_count_box" name="query_likes_count" value="<%= @the_user.likes_count %>">
      </div>

      <div>
        <label for="password_digest_box">
          Password digest
        </label>

        <input type="text" id="password_digest_box" name="query_password_digest" value="<%= @the_user.password_digest %>">
      </div>

      <div>
        <input type="checkbox" id="private_box" name="query_private" value="1" <%= "checked" if @the_user.private %>>

        <label for="private_box">
            Private
        </label>
      </div>

      <div>
        <label for="email_box">
          Email
        </label>

        <input type="text" id="email_box" name="query_email" value="<%= @the_user.email %>">
      </div>

      <button>
        Update user
      </button>
    </form>
  </div>
</div>

<hr>
